
/*header.css*/
header {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.header-menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a {
    font-size: 1.125rem;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.header-menu a:hover {
    color: rgb(1, 199, 199);
    text-decoration: underline;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

.header-menu a {
    background: #f5f5f5;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
